<div
  class="bg-gradient-to-r from-blue-500 to-purple-600 text-white py-4 shadow-lg flex items-center justify-between px-10"
>
  <div
    class="border-4 border-purple-950 rounded-full cursor-pointer transition duration-200"
    routerLink="/"
  >
    <img
      src="assets/logo.png"
      alt="Logo de la empresa"
      class="rounded-full h-10 w-auto"
    />
  </div>
  <ul class="flex justify-center space-x-6">
    <li>
      <a
        href="#"
        class="text-lg font-semibold text-white relative inline-block pb-1 after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:after:left-0 hover:after:right-0"
        routerLink="api/login"
        >Acceso</a
      >
    </li>
    <li>
      <!-- añadir a los atributos
       routerLink="/api/truck-drivers"
       *ngIf="enabled"
       -->
      <a
        href="#"
        class="text-lg font-semibold text-white relative inline-block pb-1 after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-500 hover:after:w-full hover:after:left-0 hover:after:right-0"
        >Camioneros</a
      >
    </li>
    <li>
      <!-- añadir a los atributos
       routerLink="/api/trucks"
       *ngIf="enabled"
       -->
      <a
        href="#"
        class="text-lg font-semibold text-white relative inline-block pb-1 after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-500 hover:after:w-full hover:after:left-0 hover:after:right-0"
        >Camiones</a
      >
    </li>
    <li>
      <!-- añadir a los atributos
       routerLink="/api/packs"
       *ngIf="enabled"
       -->
      <a
        href="#"
        class="text-lg font-semibold text-white relative inline-block pb-1 after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-500 hover:after:w-full hover:after:left-0 hover:after:right-0"
        >Envíos</a
      >
    </li>
    <li>
      <!-- añadir a los atributos
       routerLink="/api/cities"
       *ngIf="enabled"
       -->
      <a
        href="#"
        class="text-lg font-semibold text-white relative inline-block pb-1 after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-500 hover:after:w-full hover:after:left-0 hover:after:right-0"
        >Ciudades</a
      >
    </li>
  </ul>
</div>

<div>
  <router-outlet></router-outlet>
</div>
